<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="UrlApi" value="https://falabellape-portalsacapi.azurewebsites.net" />
    <add key="UrlApi" value="https://localhost:44388" />
    <add key="RutaArchivos" value="F:\" />
    <add key="FormatoFecha" value="dd-MM-yyyy" />
    <add key="FormatoArchivo" value="CARGA {0} {1}.xlsx" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>